* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 100vh;
  max-width: 100vw;
}

polygon {
  fill: white;
  stroke: black;
}

.red {
  fill: rgba(255, 0, 0, 0.3);
}

.blue {
  fill: rgba(0, 0, 255, 0.3);
}
